@import "./variables";

.line {
    height: 2px;
    background-color: $color__primary--light;

    &__1 {
        width: 70%;
    }

    &__2 {
        width: 50%;
    }

    &__3 {
        width: 30%;
    }
}

.diamond {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $color__primary--light;
    transform: rotate(45deg);
    margin-right: 1rem;

    &__prime {
        background-color: $color__primary;
    }
    &__secondary {
        background-color: $color__secondary--light;
    }
}

a {
    text-decoration: none;
    color: $color__primary--dark;
}
