$color__primary: #349bbd;
$color__primary--light: #6ccfe8;
$color__primary--dark: #173650;

$color__secondary--light: #dbd3d8;
$color__secondary--dark: #1d2124;

$color__warning: #910a0a;

$color__font: #333;

$color__grey--light: #eee;
$color__grey--dark: #111;

$color__bronze: #cd7f32;
$color__silver: #c0c0c0;
$color__gold: #ffd700;

$font: "Mulish", sans-serif;
