@import "./../../../../../config.scss";

.card {
    position: relative;
    z-index: 0;
}

.card,
.card__unlocked {
    width: 90%;
    margin: 1rem auto;
    padding: 2rem;
    background-color: rgba($color__primary--dark, 0.5);
    box-shadow: inset 5px 5px 1rem #0b2235, inset -5px -5px 1rem #163e61;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__unlocked {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 0;

        background-color: $color__primary;
        box-shadow: inset 5px 5px 1rem #3a84c0, inset -5px -5px 1rem #042643;
    }

    &__container {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__square {
        position: relative;
        transform: rotate(45deg);
        width: 8rem;
        height: 8rem;
        background-color: #17365080;
        border: 1px solid #17365080;
        box-sizing: border-box;
        box-shadow: inset -3px -3px 7px #255680, inset 4px 4px 5px #0e2537;

        &::before {
            content: "";
            position: absolute;
            top: -0.6rem;
            left: -0.6rem;
            margin: 1.2rem;
            background-color: #1d2124;
            border: 3px solid $color__grey--light;
            width: 6rem;
            height: 6rem;
        }

        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            content: "\f091";
            font-size: 4.5rem;
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            margin: 1.2rem;
            color: rgba($color__secondary--light, 0.5);
            transform: rotate(-45deg);
            z-index: 100;
        }
    }

    &__date {
    }

    &__text {
        width: 70%;
    }

    &__data {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--title {
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: $color__primary--dark;
        }

        &--condition {
            padding: 0.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: $color__secondary--light;
        }

        &--todo {
            background-color: transparent;
            border-radius: 1rem;
            font-size: 1.5rem;
            font-weight: 400;
            position: relative;
        }
    }

    &__progression {
        border: 1px solid rgba($color__primary--dark, 0.5);
        background-color: rgba($color__primary--light, 0.3);
        border-radius: 1rem;
        padding: 0.2rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
