@import "./../../../../../config.scss";

.card {
    width: 90%;
    margin: 1rem auto;
    padding: 2rem;
    background-color: rgba($color__primary--dark, 0.5);
    box-shadow: inset 5px 5px 1rem #0b2235, inset -5px -5px 1rem #163e61;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
        width: 15%;
        position: relative;
    }

    &__square {
        position: relative;
        transform: rotate(45deg);
        width: 7rem;
        height: 7rem;
        background-color: #17365080;
        border: 1px solid #17365080;
        box-sizing: border-box;
        box-shadow: inset -3px -3px 7px #255680, inset 4px 4px 5px #0e2537;

        &::after {
            content: "";
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;
            margin: 1.2rem;
            background-color: #1d2124;
            border: 3px solid $color__grey--light;
            width: 5rem;
            height: 5rem;
        }
    }

    &__icon,
    &__icon--bronze,
    &__icon--silver,
    &__icon--gold {
        font-size: 4rem;
        position: absolute;
        top: 1.7rem;
        left: 1.5rem;
        color: $color__grey--light;

        &--bronze {
            color: $color__bronze;
        }

        &--silver {
            color: $color__silver;
        }

        &--gold {
            color: $color__gold;
        }
    }

    &__date {
        
    }

    &__data {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}
