@import "./../../../../../config.scss";

.card {
    width: 90%;
    margin: 1rem auto;
    padding: 2rem;
    background-color: rgba($color__primary--dark, 0.5);
    box-shadow: inset 5px 5px 1rem #0b2235, inset -5px -5px 1rem #163e61;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
        width: 20%;
        display: flex;
        justify-content: center;
    }

    &__square {
        position: relative;
        transform: rotate(45deg);
        width: 8rem;
        height: 8rem;
        background-color: #17365080;
        border: 1px solid #17365080;
        box-sizing: border-box;
        box-shadow: inset -3px -3px 7px #255680, inset 4px 4px 5px #0e2537;

        &::before {
            content: "";
            position: absolute;
            top: -0.6rem;
            left: -0.6rem;
            margin: 1.2rem;
            background-color: #1d2124;
            border: 3px solid $color__grey--light;
            width: 6rem;
            height: 6rem;
        }

        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            content: "\f091";
            font-size: 4.5rem;
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            margin: 1.2rem;
            color: rgba($color__secondary--light, 0.5);
            transform: rotate(-45deg);
            z-index: 100;
        }
    }

    // &__icon,
    // &__icon--bronze,
    // &__icon--silver,
    // &__icon--gold {
    //     font-size: 4.5rem;
    //     position: absolute;
    //     top: 1.8rem;
    //     left: 3.6rem;
    //     color: $color__grey--light;

    //     &--bronze {
    //         color: $color__bronze;
    //     }

    //     &--silver {
    //         color: $color__silver;
    //     }

    //     &--gold {
    //         color: $color__gold;
    //     }
    // }

    &__date {
    }

    &__data {
        width: 80%;
        display: flex;
        flex-direction: column;

        &--title {
            font-size: 3rem;
            line-height: 5rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: rgba($color__secondary--light, 0.5);
        }

        &--condition {
            font-size: 1.8rem;
            text-transform: uppercase;
            color: rgba($color__secondary--light, 0.5);
        }
    }
}
