@import "./../../config.scss";

.category__square {
    .category__card {
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color__gold;
        margin: 1.5rem 0;

        transform: rotate(45deg);
        background-color: $color__primary--dark;
        transition: all 0.8s;

        &:hover {
            cursor: pointer;
            border: 2px solid $color__primary--dark;
            background-color: $color__gold;
            transform: rotateY(360deg);
        }
    }

    &--text {
        font-size: 2rem;
        transform: rotate(-45deg);
        color: $color__gold;
        transition: all 0.5s;

        &:hover {
            color: $color__primary--dark;
            transform: rotate(360deg);
        }
    }
}
