@import "./../../config.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 3rem;
    color: $color__gold;
    background-color: $color__primary--dark;
    border: 1px solid $color__gold;
}
