@import "./config.scss";

.heading {
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    &__1 {
        font-size: 6rem;
        color: $color__secondary--light;
        letter-spacing: 5px;
        font-weight: 700;
    }

    &__2 {
        font-size: 2.5rem;
        color: $color__primary--light;
        letter-spacing: 2px;
    }
    &__3 {
        font-size: 2.3rem;
        color: $color__primary--light;
        letter-spacing: 2px;
    }

    &__4 {
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
}
