@import "./../../../../config.scss";

.dataCard {
    background-color: $color__secondary--light;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.2rem rgba($color__primary, 0.5);
    margin-bottom: 1.2rem;

}
