@import "./../../../../config.scss";

.table {
    color: $color__primary--dark;
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    &__head {
        padding: 1rem;
        text-transform: uppercase;
        background-color: $color__secondary--light;

        &--title {
            width: 45%;
            font-size: 2.2rem;
            padding: 1rem;

            &:first-child {
                width: 10%;
            }
        }
    }

    &__body {
        font-size: 1.8rem;
        text-transform: uppercase;

        &--item {
        }

        &--item:nth-child(even) {
            background-color: $color__secondary--light;
        }
    }
}
