@import "./../../../../config.scss";

.stats {
    // height: 40rem;
    // overflow-y: auto;
    color: $color__primary--dark;

    &__title {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        padding: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
        word-spacing: 5px;
    }

    &__data {
        background-color: $color__primary;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        font-weight: 700;
        color: $color__secondary--light;
    }

    &__together {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--item {
            width: 49.5%;
        }
    }
}
