.navi {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navigation {
    &__list {
        list-style: none;

        &--link {
            margin-bottom: 4rem;
        }
    }
}
