@import "./../../config.scss";

.dashboard {
    width: 50%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    &__game {
        width: 95%;
        background-color: rgba($color__secondary--light, 0.5);
        border-radius: 2rem;
        margin: 3rem;
        padding: 5rem 1rem;
    }

    &__button {
    }
}
