.about__square {
    width: 12rem;
    height: 12rem;

    background: linear-gradient(
        201.5deg,
        #173650 17.02%,
        rgba(23, 54, 80, 0) 95.16%
    );
    box-shadow: 4px -4px 2rem 2px $color__primary;
    transform: rotate(45deg);
    margin: 2rem;
    border: 1px solid rgba($color__primary--light, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 1rem;
    right: 1rem;

    &:hover {
        transform: rotate(405deg);
        transition: transform 1s ease-in-out;
    }
}

.about__square h2 {
    transform: rotate(-45deg);
    color: $color__secondary--light;
}
