@import "./../config.scss";

.btn {
    cursor: pointer;
    border: 0;
    min-width: 40rem;
    min-height: 10rem;
    padding: 1rem 3rem;
    margin: 2rem;

    border-radius: 3rem;

    color: $color__secondary--dark;
    font-size: 3.5rem;
    font-family: $font;
    text-transform: uppercase;
    font-weight: 700;
    background: $color__secondary--light;
    box-shadow: -0.5rem 0.5rem 0.2rem rgba($color__primary--dark, 0.9);
    transition: all 0.2 ease-in-out;

    &__blue {
        background-color: $color__primary--light;
    }

    &:hover {
        transform: scale(0.98);
        padding: 1rem 3rem;
        background: $color__grey--light;
    }

}
