.btn {
    cursor: pointer;
    border: 0;
    width: 30rem;
    height: 10rem;
    border-radius: 3rem;
    color: #333;
    font-size: 4rem;
    font-family: $font;
    text-transform: uppercase;
    font-weight: 700;

    filter: drop-shadow(-5px 5px 1px #1d2124);

    &__blue {
        background-color: $color__primary--light;
    }
    &__white {
        background-color: $color__secondary--light;
    }
}
