@import "./../config.scss";

.card {
    width: 60%;
    padding: 5rem;
    background-color: $color__primary;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;

    display: flex;
    flex-direction: column;
}
