@import "./../config.scss";

.fadeOut {
    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    );
    position: relative;
    z-index: 10;
}
