@import "./../config.scss";

.footer {
    width: 100vw;
    height: 4rem;
    background-color: $color__primary--light;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__squares {
        display: flex;
        position: absolute;
        bottom: 5.5rem;
        right: 2rem;
    }

    &__rights {
        margin: 0 1rem;
    }

    &__nav {
        display: flex;

        & h4 {
            margin: 0 2rem;
            padding: 0.1rem 0.5rem;
            border-radius: 0.5rem;
            background-color: $color__primary--light;
            box-shadow: 3px 3px 3px #5aacc1, -3px -3px 3px #7ef2ff;

            &:hover {
                cursor: pointer;
                box-shadow: -3px -3px 3px #5aacc1, 3px 3px 3px #7ef2ff;
            }
        }
    }
}
