@import "./../config.scss";

.footer {
    width: 100%;
    height: 3rem;
    background-color: $color__primary--light;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__squares {
        display: flex;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
}

footer h4 {
    margin-left: 1rem;
}
