@import "./../config.scss";

.login__square {
    width: 8rem;
    height: 8rem;

    background: linear-gradient(
        201.5deg,
        #173650 17.02%,
        rgba(23, 54, 80, 0) 95.16%
    );
    box-shadow: 4px -4px 2rem 2px $color__primary;
    transform: rotate(45deg);
    margin: 2rem;
    border: 1px solid rgba($color__primary--light, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: rotate(405deg);
        transition: transform 1s ease-in-out;
    }
}

.login__icon {
    transform: rotate(-45deg);
    font-size: 4rem;
    color: $color__primary--light;
}
